/*!-----FONTS_FUENTE------*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*!----------RESET-------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*!--------BODY-----------*/
body {
    font-family: "Raleway", sans-serif;
    background-color: rgb(27, 27, 26);
}

/*!----------HEADER--------*/
header {
    background-color: rgb(27, 27, 26);
    display: flex;
    Flex-wrap: wrap;
    justify-content: space-around;
    z-index: 1;
    position: fixed;
    width: 100%;
}

h1 {
    font-weight: 600;
    color: rgb(199, 196, 196);
    font-size: 40px;
    padding: 10px;
    text-align: center;
}

header nav ul li {
    display: inline-block;
    margin: 8px;
    padding: 2px;
    text-align: center;
}
header nav ul li a {
    text-decoration: none;
    color: rgb(199, 196, 196);
    font-size: 17px;
    padding-top: 10px;

}

/*!--------MAIN------------*/

/**-------------Index---------------*/
.hero {
    width: 100%;
    height: 500px;
    text-align: center;
    color: white;
    background-image: url(../IMG/IMAGENES/Bar_Entrada.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero h2 {
    font-size: 60px;
    text-align: center;
    padding-top: 40px;
}
.boton {
    display: flex;
    background-color: #131212;
    color: rgb(193, 197, 201);
    border-radius: 7px;
    font-size: 20px;
    padding: 6px;
}

.history{
    display: flex;
}

.history img {
    padding: 30px;
    margin-top: 52px;
    float: left;
    width: 600px;
    height: 500px;
}
.history p {
    justify-content: right;
    padding: 70px;
    color: rgb(199, 194, 194);
    font-size: 17px;
    line-height:1.9;
}

.grids-container{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    /*! habilitamos Filas*/
    grid-template-rows: 250px 250px 250px;
    grid-gap: 20px;

    /*! habilitamos columnas */
    grid-template-columns: repeat(3,1fr)
}

.grids-items{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cuarto{
    grid-row-start: span 2;
}

.sexto{
    grid-row-start: span 2;
}


/**-------------Reserva-------------*/

.Form {
    color: rgb(221, 221, 95);
    text-align: center;
    padding: 10%;
    margin: 10px;
}

/**-------------RRHH----------------*/

.RRHH {
    color: rgb(221, 221, 95);
    text-align: center;
    padding: 8px;
    margin: 20px;
}

/**-------------SUCURSALES----------*/
.mapa_sucursales {
    display: block;
}

.mapa_sucursales h2 {
    color: rgb(221, 221, 95);
    text-align: center;
}


.mapa_sucursales div iframe {
    width: 40%; /* Ajusta el ancho */
    height: 380px; /* Ajusta la altura */
    border: none; /* Elimina el borde del iframe */
    position: relative;
    margin-left: 30%;
    margin-top: 30px;    
    padding-bottom: 30px;
}
/**-------------CONTACTO----------------*/
div label {
    background-color: #04AA6D;
    color:white;
    padding: 4px;
    border-radius: 5px;
}
input[type=text], select, textarea {
    width: 40%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

  /* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

  /* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}
input[type=submit]:hover {
    background-color: #45a049;
  /* Add a background color and some padding around the form */
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/**-------------MENU----------------*/

.menu{
    display: flex;
    justify-content: center;
}

.menu img {
    width:600px;
    height: auto;
    margin-bottom: 50px;
    margin-top: 30px;
}
.cerveza-promo {
    display: flex;
    justify-content:space-around;
    margin-bottom: 20px;
}
.cerveza-promo img {
    height: 400px;
    width: 300px;
    border-radius: 10px;
    border: solid yellow;
}

/*!--------FOOTER-----------*/
footer {
    display: flex;
    height: 87px;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 30px;
}

footer div ul h3 {
    margin-bottom: 6px;
    text-align: center;
}

footer div ul img{
    height: 40px;
    width: 40px;
    margin-right: 20px;
    padding: 4px;

}

.footerSucursales {
    bottom: 0;
}

.map {
    display: flex;
    justify-content:right;
    }

.map h2 a {
    color: rgb(0, 0, 0);
    font-size: 18px;
    align-items: 20px;
    text-align: end;
    }