/*!-----FONTS_FUENTE------*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*!----------RESET-------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*!--------BODY-----------*/
body {
    font-family: "Raleway", sans-serif;
    background-color: rgba(0, 0, 0, 0.89);
}

/*!----------HEADER--------*/
header {
    display: flex;
    Flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color: rgb(245, 245, 245);
}

img {
    height: 120px;
    width: 130px;
}

header h1 {
    margin-top: 11px;
    height: auto;
    width: auto;
    color: #050505;
}

/*!--------MAIN------------*/

/**-------------Index---------------*/
.tamano img {
    object-fit: cover;
    height: 500px !important;
    width: 100% !important;
    align-content: center !important;
    padding: 20px !important;
    border-radius: 50px !important;
}

.reserva {
    display: flex;
    justify-content: center;
}

.reserva a {
    text-decoration: none;
    background-color: #ece0e050;
    color: rgb(199, 196, 196);
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 18px;
}

.history {
    display: flex;
}

.history img {
    padding: 30px;
    margin-top: 52px;
    float: left;
    width: 600px;
    height: 500px;
    border-radius: 50px;
}

.history p {
    justify-content: right;
    padding: 70px;
    color: rgb(199, 194, 194);
    font-size: 17px;
    line-height: 1.9;
}

.grids-container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    /*! habilitamos Filas*/
    grid-template-rows: 250px 250px 250px;
    grid-gap: 20px;

    /*! habilitamos columnas */
    grid-template-columns: repeat(3, 1fr)
}

.grids-items {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.cuarto {
    grid-row-start: span 2;
}

.sexto {
    grid-row-start: span 2;
}

/**-------------Reserva-------------*/
.box-reserva {
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 10vh;
    color: rgb(250, 250, 250);
}

.box-reserva form h2 {
    text-align: center;
}

.box-style-reserva {
    background-color: rgba(0, 183, 255, 0.493);
    padding: 25px;
    border-radius: 20px;
}

.box-sucursal {
    margin-bottom: 16px;
}

.box-palabras {
    margin-bottom: 16px;
}

.box-palabras label {
    background-color: rgba(10, 2, 1, 0.726);
    border-radius: 10px;
    padding: 4px;
}

.subtitulo-reserva {
    color: rgb(250, 250, 250);
    text-align: center;
}

.subtitulo-reserva h3 {
    font-size: 18px;

}

.flip-card {
    background-color: transparent;
    width: 302px;
    height: 304px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    /*remover si no quiero efecto 3D*/
}

/* container necesario para la posicion delantera y trasera de CARD*/
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* accion de animacion cuando paso el cursor por encima */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* posicion frontal y trasera*/
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

.flip-card-front img {
    display: flex;
    object-fit: cover;
}

/* Estilo de parte Trasera*/
.flip-card-back {
    background-color: rgba(145, 32, 17, 0.24);
    color: white;
    transform: rotateY(180deg);
}

.lineal-reserva {
    margin: 20px 50px 20px 50px;
    display: flex;
    justify-content: space-between;

}

/**-------------RRHH----------------*/
.form-recursos-humanos {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 420px;
    margin: 15vh;
    color: rgb(250, 250, 250);
}

.form-genero label {
    flex-direction: column;
}

.data-rrhh {
    background-color: rgba(36, 107, 51, 0.466);
    padding: 20px;
    border-radius: 18px;
}

.data-form-rrhh {
    margin-bottom: 20px;
}

.data-form-rrhh label {
    background-color: rgba(0, 0, 0, 0.342);
    padding: 5px;
    border-radius: 30px;
}

/**-------------SUCURSALES----------*/
.mapa_sucursales {
    display: block;
}

.mapa_sucursales h2 {
    color: rgb(221, 221, 95);
    text-align: center;
}

.mapa_sucursales div iframe {
    width: 40%;
    /* Ajusta el ancho */
    height: 380px;
    /* Ajusta la altura */
    border: none;
    /* Elimina el borde del iframe */
    position: relative;
    margin-left: 30%;
    margin-top: 30px;
    padding-bottom: 30px;
}

/**-------------CONTACTO----------------*/
.form-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: rgb(250, 250, 250)
}

.data-contact {
    width: 520px;
    background-color: rgba(36, 107, 51, 0.466);
    border-radius: 10px;
    padding: 20px;
}

.datos {
    margin-bottom: 20px;
}

.datos label {
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.342);
    border-radius: 10px;
}

/**-------------MENU----------------*/

.menu {
    display: grid;
    grid-template-rows: 620px 620px;
    grid-template-columns: auto auto;
    margin: 10px;
}

.menu img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    object-fit: cover;
    padding: 30px 10px;
    border: yellow;
}

.img-menu-uno {
    grid-row-start: span 2;
}

/*!--------FOOTER-----------*/
.footersucursales {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 252, 252, 0.836);
    color: #050505;
    padding-left: 60px;
    padding-right: 30px;

}

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}



.footersucursales h3 {
    font-size: 22px;
    text-align: center;
}

.footersucursales ul li {
    font-size: 16px;
}

.redes h3 {
    font-size: 23px;
}

.redes img {
    height: 40px;
    width: 40px;
    margin-right: 20px;
    padding: 4px;
}

.footer-contacto {
    display: flex;
    justify-content: right;
}

.footer-contacto h3 a {
    color: #050505;
    font-size: 24px;
    align-items: 20px;
    text-align: end;
    text-decoration: none;
}

@media screen and (max-width:1300px) {
    .history {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .history p {
        padding: 70px;
    }
}

@media screen and (max-width: 1075px) {
    .menu {
        grid-template-rows: auto;
        grid-template-columns: auto;
    }

    .menu img {
        width: 100%;
        height: 100%;
        margin-bottom: none;
    }
}

@media screen and (max-width: 991px) {
    header h1 {
        display: none;
    }
}

@media screen and (max-width: 945px) {
    .grids-container {
        grid-template-rows: 250px 250px 250px;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr)
    }

    .primero {
        display: none;
    }

    .cuarto {
        grid-row-start: span 1;
    }

    .sexto {
        grid-row-start: span 1;
    }

    .footer-flex {
        display: flex;
        flex-direction: column;
    }

    .horarios h3 {
        font-size: 15px;
    }

    .horarios ul li {
        font-size: 12px;
    }

    .redes h3 {
        font-size: 15px;
    }

    .redes img {
        height: 30px;
        width: 30px;
    }

    .footer-contacto h3 a {
        color: #050505;
        font-size: 18px;
        align-items: center;
    }
}

@media screen and (max-width: 920px) {
    .form-recursos-humanos {
        font-size: 12px;

    }
}

@media screen and (max-width:755px) {
    .data-contact {
        width: 400px;

    }
}

@media screen and (max-width: 715px) {
    .form-recursos-humanos {
        font-size: 10px;

    }
}

@media screen and (max-width: 600px) {
    .history img {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .box-reserva {
        font-size: 10px;
    }
}

@media screen and (max-width: 465px) {
    .form-recursos-humanos {
        font-size: 9px;
    }

    .form-recursos-humanos form h2 {
        font-size: 19px;
    }
}

@media screen and (max-width:433px) {
    .form-recursos-humanos {
        font-size: 7px;
    }
}

@media screen and (max-width:430px) {
    .data-contact {
        width: 300px;
        font-size: 11px;
    }
}