@media screen and (max-width:1300px) {
    .history {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .history p {
        padding: 70px;
    }
}

@media screen and (max-width: 1230px) {
    .menu .dos-por-uno {
        width: 420px;
        height: 500px;
    }

    .menu .lunes-pizza {
        width: 420px;
        height: 500px;
    }
}

@media screen and (max-width: 1210px) {
    .grids-galery-menu .flex-galery-menu .galery-dos {
        width: 80%;
    }

    .grids-galery-menu .flex-galery-menu .galery-tres {
        width: 80%;
    }

    .grids-galery-menu .flex-galery-menu .galery-cuatro {
        width: 80%;
    }

    .grids-galery-menu .flex-galery-menu .galery-cinco {
        width: 80%;
    }
}

@media screen and (max-width: 1075px) {
    .menu {
        grid-template-rows: auto;
        grid-template-columns: auto;
    }

    .menu img {
        width: 100%;
        height: 100%;
        margin-bottom: none;
    }
}

@media screen and (max-width: 1055px) {
    .lineal-reserva {
        flex-direction: column;
        align-items: center;
    }

    .lineal-reserva .flip-card {
        margin-bottom: 10px;
    }

    .formulario .box-form {
        max-width: 800px;
    }

    .formulario .box-form .box-label .class-form h2:before {
        display: none;

    }

    .box-label .class-form .data-rrhh .data-form-rrhh .box-detalles .orden-estudio .check-box {
        flex-direction: column;
    }
}

@media screen and (max-width: 991px) {
    header h1 {
        display: none;
    }

    header h2 {
        display: none;
    }
}

@media screen and (max-width: 945px) {
    .grids-container {
        grid-template-rows: 250px 250px 250px;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr)
    }

    .primero {
        display: none;
    }

    .cuarto {
        grid-row-start: span 1;
    }

    .sexto {
        grid-row-start: span 1;
    }

    .footer-flex {
        display: flex;
        flex-direction: column;
    }

    .footersucursales .footer-flex .horarios h3 {
        font-size: 15px;
    }

    .footersucursales .footer-flex .horarios ul li {
        font-size: 18px;
    }

    .footersucursales .footer-flex .redes h3 {
        font-size: 22px;
    }

    .footersucursales .footer-flex .redes a img {
        height: 30px;
        width: 30px;
    }

    .footersucursales .footer-flex .footer-contacto h3 a {
        color: #050505;
        font-size: 18px;
        align-items: center;
    }
}

@media screen and (max-width: 920px) {
    .grids-galery-menu .flex-galery-menu .galery-uno {
        transition: none;
    }
}

@media screen and (max-width: 860px) {
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu .dos-por-uno {
        width: 350px;
        height: 450px;
    }

    .menu .lunes-pizza {
        width: 350px;
        height: 450px;
    }
}

@media screen and (max-width: 845px) {
    .formulario .box-form {
        max-width: 650px;
    }
}

@media screen and (max-width:755px) {
    .grids-galery-menu .flex-galery-menu .galery-uno img {
        display: none;
    }

    .data-contact {
        width: 400px;

    }
}

@media screen and (max-width: 725px) {
    .formulario .box-form .box-label .class-form {
        flex-wrap: none;
    }

    .formulario .box-form .box-label .class-form .data-rrhh .data-form-rrhh .puesto input {
        width: 45% !important;
    }
}

@media screen and (max-width:700px) {
    .grids-galery-menu .flex-galery-menu .galery-dos {
        display: flex;
        flex-direction: column;
        width: 250px;
    }

    .grids-galery-menu .flex-galery-menu .galery-dos h3 {
        font-size: 20px;
    }

    .grids-galery-menu .flex-galery-menu .galery-dos p {
        font-size: 15px;
        height: 100%;
    }

    .grids-galery-menu .flex-galery-menu .galery-dos img {
        float: none;
        width: 200px;
        height: 100%;
    }

    .grids-galery-menu .flex-galery-menu .galery-tres {
        display: flex;
        flex-direction: column;
        width: 250px;
    }

    .grids-galery-menu .flex-galery-menu .galery-tres h3 {
        font-size: 20px;
    }

    .grids-galery-menu .flex-galery-menu .galery-tres p {
        font-size: 15px;
        height: 100%;
    }

    .grids-galery-menu .flex-galery-menu .galery-tres img {
        float: none;
        width: 200px;
        height: 100%;
    }

    .grids-galery-menu .flex-galery-menu .galery-cuatro {
        display: flex;
        flex-direction: column;
        width: 250px;
    }

    .grids-galery-menu .flex-galery-menu .galery-cuatro h3 {
        font-size: 20px;
    }

    .grids-galery-menu .flex-galery-menu .galery-cuatro p {
        font-size: 15px;
        height: 100%;
    }

    .grids-galery-menu .flex-galery-menu .galery-cuatro img {
        float: none;
        width: 200px;
        height: 100%;
    }

    .grids-galery-menu .flex-galery-menu .galery-cinco {
        display: flex;
        flex-direction: column;
        width: 250px;
    }

    .grids-galery-menu .flex-galery-menu .galery-cinco h3 {
        font-size: 20px;
    }

    .grids-galery-menu .flex-galery-menu .galery-cinco p {
        font-size: 15px;
        height: 100%;
    }

    .grids-galery-menu .flex-galery-menu .galery-cinco img {
        float: none;
        width: 200px;
        height: 100%;
    }

    .formulario .box-form {
        max-width: 600px;
    }
}

@media screen and (max-width: 660px) {
    .formulario .box-form .box-label .class-form .data-rrhh .data-form-rrhh .datos textarea {
        width: 300px;
    }
}

@media screen and (max-width: 622px) {
    .galery-dos img {
        display: flex;
        flex-direction: wrap;
        justify-content: center;
    }

    .galery-tres img {
        float: none;
    }

    .galery-cuantro img {
        float: none;
    }

    .galery-cinco img {
        float: none;
    }

    .formulario .box-form {
        max-width: 450px;
    }
}

@media screen and (max-width: 600px) {
    .history img {
        display: none;
    }
}

@media screen and (max-width: 580px) {}

@media screen and (max-width: 560px) {
    .top-menu h2 span {
        font-size: 25px;
    }
}

@media screen and (max-width: 550px) {
    .box-reserva {
        font-size: 10px;
    }

    .formulario .box-form .box-label .class-form .data-rrhh .data-form-rrhh {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .formulario .box-form .box-label .class-form .data-rrhh .data-form-rrhh .box-detalles{
        width: 100%;
    }

    .formulario .box-form .box-label .class-form .data-rrhh .data-form-rrhh .puesto input {
        width: 100% !important;
    }
}

@media screen and (max-width: 530px) {
    .form-contacto h2 {
        text-align: center;
    }

    .form-contacto .data-contact {
        width: 400px;
        margin-bottom: 20px;
    }

    .formulario .box-form {
        max-width: 350px;
    }

    .formulario .box-form .box-label .class-form .data-rrhh .data-form-rrhh .datos textarea {
        width: 200px;
    }

    .formulario .box-form .box-label .class-form h2 {
        font-size: 20px;
        text-align: start;
    }

    .formulario .box-form .box-label .class-form p {
        font-size: 10px;
        text-align: start;
    }

    .formulario .box-form .box-label .class-form .data-rrhh .data-form-rrhh .box-detalles .send-files input{
        width: 300px;
    }

    .formulario .box-form .box-label .class-form .data-rrhh .data-form-rrhh{
        width: 90%;
    }
}

@media screen and (max-width: 470px) {
    .menu .dos-por-uno {
        width: 270px;
        height: 350px;
    }

    .menu .lunes-pizza {
        width: 270px;
        height: 350px;
    }
}

@media screen and (max-width: 465px) {

    .formulario .box-form .box-label .class-form .data-rrhh .data-form-rrhh .box-detalles .send-files label,
    input {
        font-size: 12px;
    }
}

@media screen and (max-width: 450px) {
    .lineal-reserva .flip-card {
        width: 250px;
        height: 250px;
    }

    .lineal-reserva .flip-card .flip-card-inner .flip-card-front img {
        width: 248px !important;
        height: 248px !important;
    }
}

@media screen and (max-width:433px) {}

@media screen and (max-width:430px) {
    .data-contact {
        width: 300px;
        font-size: 11px;
    }

    .box-reserva form .box-style-reserva {
        width: 280px;

    }

    .footersucursales .footer-flex .horarios {
        margin-bottom: 5px;
    }

}

.footersucursales .footer-flex .horarios h3 {
    font-size: 19px;
}

.footersucursales .footer-flex .horarios ul li {
    font-size: 15px;
}

.footersucursales .footer-flex .redes h3 {
    font-size: 16px;
}

.footersucursales .footer-flex .redes a img {
    height: 28px;
    width: 28px;
}

.footersucursales .footer-flex .footer-contacto h3 a {
    font-size: 19px;
}

@media screen and (max-width:410px) {
    .form-contacto .data-contact {
        width: 320px;
        margin-bottom: 20px;
    }
}


@media screen and (max-width:380px) {
    .footersucursales .footer-flex .horarios ul li {
        font-size: 13px;
    }

    .formulario .box-form .box-label .class-form .data-rrhh .data-form-rrhh .box-detalles .send-files input{
        width: 200px;
    }

    .formulario .box-form {
        max-width: 250px;
    }
    
    .formulario .box-form .box-label .class-form .data-rrhh .data-form-rrhh .genero{
        font-size: 15px;
    }

    .formulario .box-form .box-label .class-form p{
        font-size: 9px;
    }
}

@media screen and (max-width: 360px) {

    .formulario .box-form .box-label .class-form .data-rrhh .data-form-rrhh .box-detalles .send-files label,
    input {
        font-size: 10px;
    }
}